@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0%;
}
/* css in heder begin */
header{
    background: url(../images/mafia.png) no-repeat center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.zaglyshka{
    width: 100px;
}
a{
    font-family: 'Montserrat';
    text-decoration: none;
}
nav{
    position: sticky;
    top: 0px;

}
ul{
    background-color: rgb(245, 245, 243, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li{
    font-size:  1.25em;
    padding: 0.5%;
    font-family: 'Montserrat';
    display: inline-block;
}
a.nav{
    text-decoration: none;
    color:black;
}
a.head__button__login{ 
    display: inline-block;
    width: 5em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    user-select: none;
    color: rgb(0,0,0);
    outline: none;
    border: 1px solid rgba(0,0,0,.4);
    border-top-color: rgba(0,0,0,.3);
    border-radius: 2px;
    background: linear-gradient(rgb(255,255,255), rgb(240,240,240));  
    transition: .2s ease-in-out;
  }
a.head__button__login:hover {
    background: rgb(240,240,240);
}
.login__button{
    align-self: flex-end;
    
}
a.nav:active{
    color: rgb(206, 31, 11);
    text-underline-position: above;
}
/* Center part  */
p.h1{
    font-family: 'Montserrat';
    font-size: 12.5em;
}
a.button{
    color: #fff;    
    text-decoration: none;  
    user-select: none;  
    background: rgb(65, 105, 225);  
    padding: 1.0em 2.5em;  
    outline: none;      
    border-radius: 0%;
}
a.button:hover { 
background: rgb(232,95,76); 
} /* при наведении курсора мышки */
a.button:active { 
background: rgb(152,15,0); 
} /* при нажатии */
.header{
    background-color:  rgb(215, 217, 224, 0.8);
    
    height: 100%;
    max-width: 100%;
    min-height: 727px;

}
.head__button__play{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;   
}
/* css in header end */
/* main css begin */
main{
    background-color: whitesmoke;
    
}
div.main__button-icons{
    padding: 1% 0% 1.5% 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}
h5{
    font-size: 1.875em;
    display: flex;
    justify-content: center;
    color: gray;
    padding-top: 3%;
}
.fas {
    color: gray;
    font-size: 9.375em;
}
.main__button-icon{
    margin: 30px 30px;
}
/* @media begin */
@media (max-width:741px){
    header {
        background-size: cover;
        transition: .5s ease-in-out;}}
@media screen and (max-width:725px) {
    p.h1{
        font-size: 5em;
        transition: .5s ease-in-out;}}
@media screen and (max-width:600px) {
    .head__button__play{
        display: flex;
        padding-top: 50%;
        justify-content: center;
        align-items: center;;transition: .5s ease-in-out;}
h5{padding-bottom: 6%;}}
@media (max-width:750px){
    div.main__button-icons{   
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-around;
        transition: .5s ease-in-out;    
}}
@media(max-width:414px){ul{min-height: 60px;padding-left: 0px;}}
@media(max-width:550px){
    nav{
        display: none;
    }}
/* @media end */