@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    margin: 0;
    width: 100%;
}
a{
    
    text-decoration: none;
    text-decoration-color: none; 
}
li {
    font-size: 14px;
    font-family: 'Montserrat';
    width: 5%; 
    margin: 0; 
    display: inline-block;
}
.header__nav{
    z-index: 1;
    background-image: url(../imgs/);
}
