@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0%;
}
body{
    /* background-color:white; */
    width: 100%;
}
/* .body{
    background-color:  oldlace;
} */
/* header begin */
h1, h2, h3, p, time{
    font-family: 'Montserrat';
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 4px gray solid;
}

.result-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
}
.result_two{
    padding-top: 25px;
    padding-left: 175px;
}
/* header end */
.content{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    font-size: 40px;

}
.column_one{
    font-size: 60px;
  margin-top: 15px;
}
.player{
    padding: 10px 10px  1px 0px;
}
.column_second{
    margin-top: 15px;
}
.timer{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}
/*------------------------------------------------------- table begin ----------------------------------*/
div.checkTable {
    
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
  }
  .divTable.checkTable .divTableCell, .divTable.checkTable .divTableHead {
    border: 1px solid #BABABA;
    padding: 7px 4px;
  }
  /* .divTable.checkTable .divTableBody .divTableCell {
    font-size: 16px;
  } */
  .divTable.checkTable .divTableHeading {
      border-bottom: 0px solid #444444;
  }
  .divTable.checkTable .divTableHeading .divTableHead {
    font-weight: bold;
    text-align: center;
  }
  /* DivTable.com */
  .divTable{ display: table; }
  .divTableRow { display: table-row; }
  .divTableHeading { display: table-header-group;}
  .divTableCell, .divTableHead { display: table-cell;}
  .divTableHeading { display: table-header-group;}
  .divTableFoot { display: table-footer-group;}
  .divTableBody { display: table-row-group;}
  /* -------------------------------- end table----------------------------------------------- */
.features-game{
    padding-top: 15px;
    border-bottom: solid  1px gray;
}
.best__act{
    padding-top: 15px;

}
.gold__act{
    background-color: rgb(251, 225, 146);
}
.first__blood{
    background-color: rgb(214, 177, 177);
}
.black__checks{
    background-color: rgb(196, 189, 175);
}
.head{
    padding: 5px 0px 5px 10px;
}
.head1{
    padding: 5px 80px 5px 40px;
}
.head2{
    padding: 5px 0px 5px 37px;
}
/* Begin @media */
@media (max-width:800px){.content{flex-direction: column;}.column_one{margin-left: 50%; padding-bottom: 50px;}}
@media screen and (max-width:725px) {.content{font-size: 30px;}.result-name{font-size: 25px;}}
@media screen and (max-width:610px) {.logo{display: none;}.column_one{font-size: 20px;}}
@media (max-width:750px){}
@media(max-width:414px){}
@media(max-width:550px){}
/* end @media */