html {
    margin: 0 0 0 0;
    background-color: #ffffff;
}
h1 {
    text-align:center;
    /*font-family: Сomic Sans MS, cursive;*/
    color: #293845;
}
@media (min-width: 500px) {
    .blocks__guides__info {
        margin: 2% 5% 2% 5%;
        padding: 0 0 0 0;
        border-bottom: 4px dashed #9eadba;
    }
}
.blocks__guides__text {
    margin: 2% 1% 2% 1%;
    padding: 0 0 0 0;
}
.blocks__guides__text h2{
    font-size:20px;
    color: #374551;
    font-weight: 700;
    text-align: justify;
}
.blocks__guides__author__date__time {
    margin: 1% 2px 20px 2px;
    padding: 0 0 0 0;
    display: flex;
    align-items: stretch;
    flex-flow:  wrap;
}
.icons_people {
    align-items: stretch; /*центрирование*/
}
.author_name {
    display: inline-block;
    margin-left: 20px;
    flex:1;
}
.author_name h3 {
    align-items: stretch; /*центрирование*/
    font-weight: 500;
    color: #43505c;
    font-size:20px;
}
.author__time-date_post {
    align-items: stretch; /*центрирование*/
    margin-left: auto;
    flex-wrap:wrap;
    color: #43505c;
}
.author__time-date_post h3 {
    font-size:20px;
    font-weight: 500;

}