@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* header begin */
.ResultGame {
    width: 100%;
}

li.disabledPlayer{
    color: #7d7d7d;
}

.ResultGame h1,
.ResultGame h2,
.ResultGame h3,
.ResultGame p,
.ResultGame time,
.ResultGame li {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.ResultGame .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 4px gray solid;
}

.ResultGame .result-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}

.ResultGame .result_two {
}

/* header end */
.ResultGame .content {
    display: flex;
    justify-content: space-around;
}

.ResultGame .column_one {
    display: flex;
    font-size: 50px;
}
.ResultGame .column_one li {
    display: flex;
    justify-content: space-between;
}

.ResultGame .column_one li input {
    width: 60px;
    height: 40px;
    border: 1px #ccc solid;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}
.ResultGame .column_one li .Inputs {
    display: flex;
    margin: 0 10px;
}
.ResultGame .column_one li .Inputs p  {
    font-size: 30px;
}
.ResultGame .column_one li .plus input {
    background-color: rgb(26, 174, 159);
}
.ResultGame .column_one li .minus input {
    background-color: rgb(211, 69, 91)
}
.ResultGame .column_one li .minus  {
    margin-left: 15px;
}
.ResultGame .column_one li div.Inputs {
    margin-top: -10px;
 }

.ResultGame ul {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
}.ResultGame ol li i{
    margin-left: 10px;
 }

.ResultGame .player {
    padding: 10px 10px 1px 0px;
}

.ResultGame .column_second {
    margin-top: 15px;
    font-size: 25px;
}

.ResultGame .timer {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}
.ResultGame .lead {
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}
.ResultGame .lead h3{
   text-align: center;
}
.ResultGame .timer h3 {
     display: flex;
    flex-direction: row;
    justify-content: space-around;
 }

/*------------------------------------------------------- table begin ----------------------------------*/
.ResultGame div.checkTable {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
}

.ResultGame .divTable.checkTable .divTableCell, .divTable.checkTable .divTableHead {
    border: 1px solid #BABABA;
    padding: 7px 4px;
}

/* .divTable.checkTable .divTableBody .divTableCell {
  font-size: 16px;
} */
.divTable.checkTable .divTableHeading {
    border-bottom: 0px solid #444444;
}

.divTable.checkTable .divTableHeading .divTableHead {
    font-weight: bold;
    text-align: center;
}

/* DivTable.com */
.divTable {
    display: table;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    display: table-header-group;
}

.divTableCell, .divTableHead {
    display: table-cell;
}

.divTableHeading {
    display: table-header-group;
}

.divTableFoot {
    display: table-footer-group;
}

.divTableBody {
    display: table-row-group;
}

/* -------------------------------- end table----------------------------------------------- */
.features-game {
    padding-top: 15px;
    border-bottom: solid 1px gray;
}

.best__act {
    padding-top: 15px;
}
.best__act div {
     border: #1f1f1f 1px solid;
 }

.gold__act {
    background-color: rgb(251, 225, 146);
}

.first__blood {
    background-color: rgb(214, 177, 177);
}

.black__checks {
    background-color: rgb(196, 189, 175);
}

.head {
    padding: 5px 0px 5px 10px;
}

.head1 {
    padding: 5px 80px 5px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Begin @media */
@media (max-width: 800px) {
    .content {
        flex-direction: column;
    }

    .column_one {
        justify-content: center;
    }
    .ResultGame .header img {
        display: none;
    }
}

@media screen and (max-width: 725px) {
    .content {
        margin: 5px 25px;
    }

    .result-name {
        font-size: 25px;
    }
}

@media screen and (max-width: 610px) {
    .logo {
        display: none;
    }

    .column_one {
        font-size: 30px;
    }
}

@media (max-width: 750px) {
}

@media (max-width: 414px) {
    .column_one {
        font-size: 30px;
        margin-left: 20%;
    }

    .result-name {
        font-size: 20px;
    }

    .result_two {
        padding-left: 125px;
    }
}

@media (max-width: 550px) {
}

/* end @media */