.modal-wrapper__setPlayers {
    position: fixed;
    background: white;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    color: black;
    transition: all .8s;
    width: 60%;
    left: 17%;
    top:100px;
    cursor: auto;
}

.modal-wrapper__setPlayers .modal-header {
    background: #263238;
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
    text-align: right;
}

.modal-wrapper__setPlayers .modal-header h3 {
    color: white;
    float: left;
    margin: 0;
    padding: 0;
}

.modal-wrapper__setPlayers .modal-body {
    padding: 10px 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-wrapper__setPlayers .modal-footer {
    background: #263238;
    height: 35px;
    padding: 15px;
}

.modal-wrapper__setPlayers .close-modal-btn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 40px;
    margin: 0;
    transition: .3s;
}
.modal-wrapper__setPlayers .close-modal-btn:hover {
    transform: rotate(90deg);
}

.modal-wrapper__setPlayers .btn-cancel, .btn-continue {
    background: coral;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
}

.modal-wrapper__setPlayers .btn-cancel {
    background-color: #b71c1c;
    float: left;
}

.modal-wrapper__setPlayers .btn-continue {
    background-color: #1b5e20;
    float: right;
}

.modal-wrapper__setPlayers .back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
    left: 0;
    top: 0;
}

.modal-wrapper__setPlayers .open-modal-btn {
    margin: 15px;
    padding: 10px;
    font-weight: bold;
}
.modal-wrapper__setPlayers form{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.modal-wrapper__setPlayers form  label{
    margin: 10px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.modal-wrapper__setPlayers  input,
.modal-wrapper__setPlayers  select,
.modal-wrapper__setPlayers  button{
    width: 200px;
    margin-top: 20px;
}
.modal-wrapper__setPlayers button{
    background-color: #207868;
}
.modal-wrapper__setPlayers button.disab{
    cursor: default;
    background-color: #9c9e9d;
}
.modal-wrapper__setPlayers form .btns{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.radio_buttons{
    max-height: 400px;
    overflow: auto;
}
.radio_buttons div{
    min-width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.radio_buttons input{
    width: 13px;
}
.radio_buttons input:checked + label{
    color: #b71c1c;
}
.radio_buttons input[type="radio"]:checked ~ * {
    background:pink !important;
}