.modal-wrapper {
    position: fixed;
    background: white;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    left: 17%;
    color: black;
    transition: all .8s;
    width: 60%;
    top:200px;
}

.modal-header {
    background: #263238;
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
    text-align: right;
}

.modal-header h3 {
    color: white;
    float: left;
    margin: 0;
    padding: 0;
}

.modal-body {
    padding: 10px 15px;
    text-align: center;
}

.modal-footer {
    background: #263238;
    height: 35px;
    padding: 15px;
}

.close-modal-btn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 50px;
    margin: 0;
    transition: .3s;
}
.close-modal-btn:hover {
    transform: rotate(90deg);
}

.btn-cancel, .btn-continue {
    background: coral;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
}

.btn-cancel {
    background-color: #b71c1c;
    float: left;
}

.btn-continue {
    background-color: #1b5e20;
    float: right;
}

.back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
    left: 0;
    top: 0;
}

.open-modal-btn {
    margin: 15px;
    padding: 10px;
    font-weight: bold;
}
form{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
form  label{
    margin: 10px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
form input, select{
    width: 70%;
}
form button{
    align-self: flex-end;
}
form .btns{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}